@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

@keyframes navHover {
    0% {font-size: large;}
    50% {font-size: larger;}
    100% {font-size: large;}
}
@keyframes grow {
    from {width: 150px;}
    to {width: 155px;}
}

:root {
    --Background1: #141419;
    --Background2: #242429;
    --TableHeader: #2b4f81;
    --Table1: #575757;
    --Table2: #696969;
    --TableBorder: #AAA;
    --BannerColour: #144fa1;
    --TitleColour: #ffffff;
    --TextColour: #F0F0F0;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
/*
html {
    margin-left: calc(100vw - 100%);
    margin-right: calc(100vw - 100%);
}
*/
body {
    margin: 0 auto;
    padding-top: 5px;
    background-color: var(--Background1);
}
header {
    background-color: var(--BannerColour);
    color: #FFFFFF;
    border: 2px solid #000;
    border-radius: 0px;
    box-shadow: 0px 0px 2px #000;
    height: 120px;

    max-width: 80%;
    padding-left:10%;
    padding-right:10%;
}
footer {
    border-top: 1px solid var(--Background2);
    padding: 2px;
    margin-top: 8px;
    text-align: center;
    color: #BBB;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--TitleColour);
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* CSS for the Top Navigation Bar */

nav ul {
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    text-align: center;
    margin: 2px;
    padding: 2px;
}
nav ul li {
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    border-left: 1px solid #033152;
    border-right: 1px solid #033152;
    flex: 100%;
}
nav ul li:first-child {
    border-left:none;
}
nav ul li:last-child {
    border-right:none;
}

nav a:hover {
    color: #EEE;
    text-shadow: 0 0 4px #1ec4b6;
    animation: navHover 1s infinite;
    position: fixed;
}
nav a:active {
    text-decoration: underline;
}
nav a:visited, nav a:link {
    color: #FFFFFF;
    text-decoration: none;
}

/* End of Navigation Bar */

/* CSS for the Links Bar */

footer ul {
    list-style: none;
    display:flex;
    justify-content: center;
    margin: 2px;
    padding: 2px;
}
.socialIcon {
    border-radius: 12px;
    margin: 6px;
    padding: 6px;
    width: 64px;
    height: 64px;
    background-color: #444449;
    border: 2px solid #777;
    box-shadow: 0px 0px 6px #000;
}
.socialIcon img {
    width: 64px;
    height: 64px;
}

/* End of Links */

/* CSS for Projects Showcase */

.projectDisplay {
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 2px;
    
    margin-inline-start: 5%;
    margin-inline-end: 5%;
    justify-content: center;
    align-items: center;
}

.projectIcon {
    border-radius: 4px;
    margin: 6px;
    padding: 6px;
    aspect-ratio: 16 / 7;
    width: 90%;
    height: 90%;
    background-color: #444449;
    border: 2px solid #777;
    box-shadow: 0px 0px 6px #000;
    align-self: center;
}

.projectImage {
    border-radius: 4px;
    margin: 16px;
    padding: 6px;
    aspect-ratio: 16 / 7;
    width: 400px;
    max-width: 40%;
    max-height: fit-content;
    background-color: #444449;
    border: 2px solid #777;
    box-shadow: 0px 0px 6px #000;
    align-self: center;
}

/* End of Projects Showcase */

form {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 2px;
}
form label {
    color: var(--TitleColour);
    font-size: large;
    margin-left: 2.5%;
}
form input, form textarea {
    width: 95%;
    margin: 1px auto;
}
form textarea {
    height: 50px;
}

.grades {
    text-align: center;
    border-collapse: collapse;
}
.grades th, .grades td, .grades tr {
    padding: 1px 5px 2px 5px;
}
.grades th {
    border-bottom: 1px solid var(--TableBorder);
    min-width:50px;
}
.grades td {
    border-bottom: 1px solid var(--TableBorder);
}
.grades th:first-child, td:first-child {
    border-right: 1px solid var(--TableBorder);
    min-width: 150px;
}
.grades td:first-child {
    border-right: 1px solid var(--TableBorder);
}
.grades tr:last-of-type td {
    border-bottom: 0px;
}
.grades tr:first-child{
    background-color: var(--TableHeader);
}
.grades tr:nth-child(2n) {
    background-color: var(--Table1);
}
.grades tr:nth-child(2n+3) {
    background-color: var(--Table2);
}

.centralText {
    text-align: center;
}
.submit {
    width: 40%;
    min-width: 200px;
    height: 40px;
    margin: 5px auto;
}
.inlineSection {
    display: inline-flex;
}
.centralise {
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    justify-content: center;
    align-items: center;
}
.centraliseobject {
    align-self: center;
    justify-self: center;
}
.video {
    max-width: 400px;
    max-height: 225px;
    border-radius: 4px;
    box-shadow: 0 0 5px;
    margin: 8px;
}

#myPicture {
    border-radius: 4px;
    box-shadow: 0 0 5px;
    margin: 8px;
    aspect-ratio: 3 / 4;
    max-width: 25%;
    max-height: 50%;

    align-self: center;
}
#message {
    resize: none;
}
#logo {
    font-family: 'Anton', sans-serif;
    padding: 10px;
    text-shadow: 0px 0px 8px #000;
    font-size: xx-large;
}
header a {
    color: inherit;
    text-decoration: inherit;
}

#content {
    margin-top: 128px;
    min-width: 360px;
    padding: 1px 8px;
    
    margin-left: 5%;
    margin-right: 5%;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;

    background-color: var(--Background2);
    color: var(--TextColour);
    border-radius: 4px;
    box-shadow: 0 0 2px;
}
#content p {
    max-width: 800px;
}